<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerizedAccountingSystem.Properties.Settings.computerizedaccountingsystemConnectionString" connectionString="server=localhost;User Id=root;password=psu;database=computerizedaccountingsystem" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
